/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
:root {
    --brand-color: #2a1a5e;
    --secondary-color: #ef9434;
    --gray-color: #7e849b;
    --border-color: #dddddd;
    --black-color: #1f222b;
    --white-color: #ffffff;
}

.rtwwcfml_hidden{
    display: none;
}
.rtwwcfml_appointment_main__wrapper{
    height: auto;
}

.rtwwcfml_multistep_content_wrapper .wpcf7-form-control-wrap {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/**** notify js  **********/

.notifyjs-bootstrap-rtwwcfml_text_notify{
  background-color: #f4be6b !important;
    color: #fff !important;
   
}
.notifyjs-container{
  top: -2px !important;
}

.notifyjs-container {
/*  width: 530px !important;
  white-space: normal !important;*/
  right: unset !important;
  left: 0 !important;
}

/* css for pre next buttons */

.rtwwcfml_wrap  .rtwwcfml_next .rtwwcfml_next_btn,
.rtwwcfml_wrap .rtwwcfml_next .rtwwcfml_prev_btn,
.rtwwcfml_update_profile,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit,
.rtwwcfml_cancel_appointment,
.rtwwcfml_next_process_btn,
.rtwwcfml_prev_process_btn,
.rtwwcfml_third_next_btn {
    background-color: var(--secondary-color);
    color: #ffffff!important;
    line-height: 1.5;
    padding: 8px 15px !important;
    text-transform: capitalize;
    box-shadow: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.rtwwcfml_next .rtwwcfml_next_btn:focus,
.rtwwcfml_next .rtwwcfml_prev_btn:focus,
.rtwwcfml_update_profile:focus,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit:focus,
.rtwwcfml_cancel_appointment:focus,
.rtwwcfml_next_process_btn:focus,
.rtwwcfml_prev_process_btn:focus,
.rtwwcfml_third_next_btn:focus,
.rtwwcfml_next .rtwwcfml_next_btn:hover,
.rtwwcfml_next .rtwwcfml_prev_btn:hover,
.rtwwcfml_update_profile:hover,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit:hover,
.rtwwcfml_cancel_appointment:hover,
.rtwwcfml_next_process_btn:hover,
.rtwwcfml_prev_process_btn:hover,
.rtwwcfml_third_next_btn:hover {
    outline: 0;
    background-color: #2a1a5e!important;
}

.rtwwcfml_next_btn i {
    vertical-align: middle;
}
.multistep-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.multistep-nav a{
text-decoration: none;
}
.rtwwcfml_next::after,
.rtwwcfml_prcoess_stpes_btns::after {
    content: "";
    clear: both;
    display: block;
}

.rtwwcfml_next_process_btn,
.rtwwcfml_prev_process_btn,
.rtwwcfml_next .rtwwcfml_next_btn,
.rtwwcfml_next .rtwwcfml_prev_btn {
    margin-right: 0;
    position: relative;
}

.rtwwcfml_next_process_btn,
.rtwwcfml_next_btn {
    float: right;
}

.rtwwcfml_prev_process_btn,
.rtwwcfml_prev_btn {
    float: left;
}

.rtwwcfml_next .rtwwcfml_prev_btn {
    background-color: var(--secondary-color);
}
.rtwwcfml_next{
  width: 50%;
}
.rtwwcfml_next_note {
  float: right;
 
}
.rtwwcfml_prev a:first-child{
  margin-bottom: 10px;
}

@media(max-width:992px){
  .notifyjs-container{
    right: 0 !important;
  }
  .rtwwcfml_prcoess_stpes_btns{
    min-height: 160px;
  }
  .notifyjs-wrapper,
.notifyjs-bootstrap-base.notifyjs-bootstrap-rtwwcfml_text_notify  {
  width: 100% !important;
 }
 .notifyjs-container {
  top: 50px !important;
}
}
@media  screen and (max-width: 767px){
  .rtwwcfml_appointment_tracker,.rtwwcfml_multistep_content_wrapper{
    width: 100%;
  }
  .rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item span{
    display: none;
  }
  .rtwwcfml_appointment_tracker ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0 !important;
  }
  .rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item::before{
    margin-right: 0;
  }

.rtwwcfml_appointment_tracker {
  width: 225px;
  background-color: #2a1a5e;
}
.rtwwcfml_appointment_tracker ul {
    list-style-type: none;
    margin: 0;
  padding:15px 10px!important;
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item {
  list-style-type: none;
  padding: 15px 8px;
  display: block;
    color: #91A0AE;
    font-weight: 600;
    position: relative;
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item::before {
  counter-increment: section;
  content: counter(section);
  width: 24px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  background-color: #91A0AE;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 13px;
  z-index: 1;
  position: relative;
  transition: 1s cubic-bezier(.67,-0.11,.45,1.41);
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item.active::before{
    background-color: #ef9434;
  color: #ffffff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
  transition: 1.2s cubic-bezier(.67,-0.11,.45,1.41);
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item.active{
    color: #ffffff;
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item.active::before{
    background-color: #ef9434;
  color: #ffffff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
  transition: 1.2s cubic-bezier(.67,-0.11,.45,1.41);
}
.rtwwcfml_appointment_tracker ul .rtwwcfml_appointment_tracker_item.active{
    color: #ffffff;
}

/*/////////////////*/

.rtwwcfml_next .rtwwcfml_next_btn,
.rtwwcfml_next .rtwwcfml_prev_btn,
.rtwwcfml_update_profile,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit,
.rtwwcfml_cancel_appointment,
.rtwwcfml_next_process_btn,
.rtwwcfml_prev_process_btn,
.rtwwcfml_third_next_btn {
    background-color: var(--secondary-color);
    color: #ffffff!important;
    line-height: 1.5;
    padding: 8px 30px !important;
    text-transform: capitalize;
    box-shadow: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.rtwwcfml_next .rtwwcfml_next_btn:focus,
.rtwwcfml_next .rtwwcfml_prev_btn:focus,
.rtwwcfml_update_profile:focus,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit:focus,
.rtwwcfml_cancel_appointment:focus,
.rtwwcfml_next_process_btn:focus,
.rtwwcfml_prev_process_btn:focus,
.rtwwcfml_third_next_btn:focus,
.rtwwcfml_next .rtwwcfml_next_btn:hover,
.rtwwcfml_next .rtwwcfml_prev_btn:hover,
.rtwwcfml_update_profile:hover,
.rtwwcfml-cust-btn.rtwwcfml_cncl_submit:hover,
.rtwwcfml_cancel_appointment:hover,
.rtwwcfml_next_process_btn:hover,
.rtwwcfml_prev_process_btn:hover,
.rtwwcfml_third_next_btn:hover {
    outline: 0;
    background-color: #2a1a5e!important;
}

.rtwwcfml_next_btn i {
    vertical-align: middle;
}

.rtwwcfml_next::after,
.rtwwcfml_prcoess_stpes_btns::after {
    content: "";
    clear: both;
    display: block;
}

.rtwwcfml_next_process_btn,
.rtwwcfml_prev_process_btn,
.rtwwcfml_next .rtwwcfml_next_btn,
.rtwwcfml_next .rtwwcfml_prev_btn {
    margin-right: 0;
    position: relative;
}

.rtwwcfml_next_process_btn,
.rtwwcfml_next_btn {
    float: right;
}

.rtwwcfml_prev_process_btn,
.rtwwcfml_prev_btn {
    float: left;
}

.rtwwcfml_next .rtwwcfml_prev_btn {
    background-color: var(--secondary-color);
}


}


/* css for send button */
.rtwwcfml_multistep_content_wrapper .wpcf7-form-control.wpcf7-submit,
.rtwwcfml_multistep_content_wrapper .ajax-loader{
  float: right;
  position: relative;
  top: 0px;
}
